<template name='addDriver'>
  <div class="container">
    <h2>Add Driver</h2>
    {{> quickForm collection="Drivers" id="insertDriverForm" type="insert"}}
    <h3>Drivers</h3>
    <ul>
      {{#each drivers}}
        <li><h4>{{driver}}</h4></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name='drivers'>
  <div class='container'>
    <h2 align='center'>Drivers</h2>
     <ul class="list-group">
    {{#each drivers}}
      <a href="/drivers/{{_id}}" class="list-group-item">{{driver}}</a>
    {{/each}}
    </ul>
  </div>
</template>

<template name='driver'>
  <div class='container'>
    <h2 align='center'>{{driver}}</h2>
  </div>
</template>