<template name='processes'>
  <div class='container'>
    <h2 align='center'>Processes</h2>

    <a class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseProcess" aria-expanded="false" aria-controls="collapseProcess">
      Add Processes
    </a>

    <div class="collapse" id="collapseProcess">
      {{> quickForm collection="Processes" id="insertProcessForm" type="insert"}}
    </div>

    <ul class="list-group">
    {{#each processes}}
      <a href="/processes/{{_id}}" class="list-group-item">{{name}}</a>
    {{/each}}
    </ul>
  </div>
</template>

<template name='process'>
  <div class='container'>

      <h2 align='center'>{{name}}</h2>
      <h4>Application Name: {{appName}}</h4>
      <h4>Driver:
         <!-- Single button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{driverName}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {{#each drivers}}
                <li role="presentation" class={{driverState}}><a class='driver'>{{driver}}</a></li>
              {{/each}}
            </ul>
          </div>
      </h4>
      <h4>Timeperiod: {{timeperiod}}</h4>


      <h3>Activities</h3>
      {{#each activity}}
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title"><span class="badge">{{subactcount}}</span> {{name}} - <small>{{state}}</small></h2>
          </div>
          <div class="panel-body">
            <div class="list-group">
              {{#each sub}}
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">{{name}}</h4>
                  <p class="list-group-item-text">...</p>
                </a>
              {{/each}}
              <a role='button' class='btn btn-success btn-block sub' data-toggle="modal" data-target="#myModal">Add Subactivity</a>
            </div>
          </div>
        </div>
      {{/each}}

    <a class='btn btn-warning clone' role='button'>Add</a>
    <a class="btn btn-primary btn-block" role="button" data-toggle="collapse" href="#collapseAct" aria-expanded="false" aria-controls="collapseAct">
      Add Activity
    </a>
    <div class="collapse" id="collapseAct">
      {{> quickForm collection="Activities" id="insertActivitiesForm" type="insert"}}
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Subactivity</h4>
        </div>
        <div class="modal-body">
          {{> quickForm collection="Subactivity" id="insertSubactivityForm" type="insert"}}
        </div>
      </div>
    </div>
  </div>
</template>