<template name='activityItem'>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{name}}<span role="button" class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span></h3>
    </div>
    <div class="panel-body">
      {{times}}
      {{percent}}
      <ul class="list-group">
        {{#each sub}}
          {{> subItem}}
        {{/each}}
      </ul>
      
      <a role='button' class='btn btn-default btn-block sub' data-toggle="modal" data-target="#addSub">Add Subactivity</a>
    </div>
  </div>
</template>