<template name='modal'>
  <!-- Subactivity Add Modal -->
  <div class="modal fade" id="addSub" tabindex="-1" role="dialog" aria-labelledby="addSub">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addSub">Add Subactivity</h4>
        </div>
        <div class="modal-body">
          {{> quickForm collection="Subactivity" id="insertSubactivityForm" type="insert"}}
        </div>
      </div>
    </div>
  </div>

  <!-- Subactivity Update Modal -->
  <div class="modal fade" id="updateSub" tabindex="-1" role="dialog" aria-labelledby="updateSub">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="updateSub">Update Subactivity</h4>
        </div>
        <div class="modal-body">
          {{> quickForm collection="Subactivity" doc=subId id="updateSubactivityForm" type="update"}}
        </div>
      </div>
    </div>
  </div>

  <!-- Activity Add Modal -->
  <div class="modal fade" id="addAct" tabindex="-1" role="dialog" aria-labelledby="addAct">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addAct">Add Activity</h4>
        </div>
        <div class="modal-body">
          {{> quickForm collection="Activities" id="insertActivitiesForm" type="insert"}}
        </div>
      </div>
    </div>
  </div>

  <!-- State Add Modal -->
  <div class="modal fade" id="addState" tabindex="-1" role="dialog" aria-labelledby="addState">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addState">Add State</h4>
        </div>
        <div class="modal-body">
          {{> quickForm collection="State" id="insertStateForm" type="insert"}}
        </div>
      </div>
    </div>
  </div>
</template>