<template name='subItem'>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">{{name}} <div class='pull-right'>{{subRollUp}}</div></h4>
    <p class="list-group-item-text">Duration: {{duration}}</p>
    <p class="list-group-item-text">Downtime: {{downtime}}</p>
    <p class="list-group-item-text">Rate: {{rate}}</p>
    <p class="list-group-item-text">People: {{people}}</p>
    <p class="list-group-item-text">Consumables: {{consumable}}</p>
    <p class="list-group-item-text">Cost of Items: {{itemCost}}</p>
    <p class="list-group-item-text"># of Items: {{itemNum}}</p>
  </a>
</template>